.main-container{
    /* width:100vh;
    height:100vh; */
    /* background-color: #2c7ed1; */
    background-color: #35589A;
}

.jumbotron{
    background-color: #370665;
    border-radius: 15px;
}

.mybtn{
    background-color: #F14A16;
    min-width: 100px;
    min-height: 100px;
    font-size: larger;
    font-weight:bold;
    
} 
.mybtn:hover{
    background-color: #FC9918;
}